/* 메뉴바 반응형으로 */
nav {
    display: flex;
    width:auto;
    height: 60px;
    padding: 0px 24px;
    align-self: stretch;
    /* center면 중앙에 stretch면 화면에 맞게 */

    gap: 30px;
}

.navItem {
    color: #403930;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 30px */
}

header {
    display: flex;
    width: auto;
    height: fit-content;
    padding: 60px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.group {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.badge {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: #E6EEFF;

    /* 텍스트 속성 */
    color: #000;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */

    /*margin-bottom: 40px;*/
}

header h1 {
    color: #333;
    width: auto;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 38.4px */
    letter-spacing: -0.64px;
}

header h1 em {
    background: linear-gradient(99deg, #001F8F 3.58%, rgba(36, 255, 203, 0.50) 90.34%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainprofile {
    width: auto;
}

.picprofile {
    display: none;
}

.headerLink {
    display: flex;
    width: 130px;
    height: 50px;
    padding: 16px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    box-sizing: border-box;

    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-decoration-line: none;
}

.Res {
    border: 1px solid #403930;
    color: #403930;
}

.introframe {
    display: flex;
    padding: 80px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    width: fit-content;
    height: fit-content;

    background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
}

.smallif {
    display: flex;
    padding: 80px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;

    width: fit-content;
    height: fit-content;
}

.i_t1 {
    align-self: stretch;
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 22.5px */
    letter-spacing: -0.36px;
}

.i_t2 {
    align-self: stretch;

    color: #333;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    /* 21px */
    letter-spacing: -0.28px;
}

.fly-icon {
    width: 40px;
    height: 40px;

    position: absolute;
    left: 50px;
    bottom: 36px;
}

.contact {
    width: auto;
    height: fit-content;
    padding: 40px 0px;
    flex-direction: column-reverse;
    gap: 16px;
    align-self: stretch;
}

.iconframe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}


/*화면 작아지면 안보이게 */
.call {
    display: none;
}

/* stack부분 responsive */
.stack {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 60px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.stackframe {
    width: auto;
}

.stackintro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.m1 {
    text-align: initial;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 108.333% */
    letter-spacing: -0.48px;
}

.m2 {
    text-align: initial;
    font-family: Pretendard;
    font-size: 12.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.stackicon1 {
    display: flex;
    gap: 30px;
    align-self: stretch;
    flex-wrap: wrap;
}

.stackicon2 {
    display: flex;

    gap: 30px;
    align-self: stretch;
    flex-wrap: wrap;
}

.stack .icon {
    width: 60px;
    height: 60px;
    align-self: stretch;
}

/* 피드백 부분 */
.feedback {
    display: flex;
    width: auto;
    height: auto;
    padding: 80px 0px 120px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedbackframe {
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.mframe {
    display: flex;
    width:auto;
    padding: 0px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    overflow:hidden;
}

.feedback .m1 {
    color: #403930;

    /* sectionTitle */
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 108.333% */
    letter-spacing: -0.48px;
}

.mbox {
    width: 100%;
    height: 200px;
    display: flex;
    padding: 24px 13px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.fbcontent {
    width:95%;
    align-self: stretch;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 600;
}

.fbname {
    align-self: stretch;
    width:95%;
    color: #1866AF;
    text-align: right;
    font-family: Pretendard;
    font-size: 13px;
    font-weight: 400;
}

/* 포부 부분 */
.fighting {
    width: auto;
    height: auto;
    padding: 60px 24px;
    align-self: stretch;
}

.fighting p {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 60px */
    letter-spacing: -0.48px;
    margin-left:0px;
}